<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/favicon/logo.jpg" type="image/gif" />
    <title><%= r_client.user.username %> - Home</title>
    <%- include("./partials/meta.ejs") %>
  </head>
  <body>
    <div class="container">
      <aside><%- include('./partials/aside.ejs'); %></aside>
      <main>
        <h1>Manager Control</h1>
        <div class="date">
          <input type="date" />
        </div>
        <div class="information">
          <div class="information-general">
            <img
              src="<%= r_client.user.displayAvatarURL({ forceStatic: true, size: 512, extension: `jpg` }) %>"
              alt="<%= r_client.user.username %>"
            />
            <div class="informacion-general-name"><%= r_client.user.username %></div>
            <div class="informacion-general-servers">
              <div class="informacion-general-servers-title">Servers</div>
              <div class="informacion-general-servers-number"><%= r_client.guilds.cache.size %></div>
            </div>
            <div class="informacion-general-users">
              <div class="informacion-general-users-title">Users</div>
              <div class="informacion-general-users-number"><%= r_client.users.cache.size %></div>
            </div>
            <div class="linea"></div>
            <div class="informacion-general-infrestructura">
              <div class="informacion-general-infrestructura-title">Infrestructura</div>
              <div class="informacion-general-infrestructura-plataform"><%= os.platform() %> <%= os.arch() %></div>
              <div class="informacion-general-infrestructura-ram">
                RAM: <%= os.totalmem() / 1024 / 1024 / 1024 %> GB
              </div>
              <div class="informacion-general-infrestructura-cpu">CPU: <%= os.cpus()[0].model %></div>
              <div class="informacion-general-infrestructura-uptime">
                Uptime: <%= os.uptime() / 60 / 60 / 24 %> days
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include("./partials/right.ejs") %>
    </div>
    <footer class="footer-credits"><%- include('./partials/footer.ejs'); %></footer>
    <script src="/js/dark.theme.js"></script>
  </body>
</html>
