<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= r_client.user.username %> - Products</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <link href="/css/products.css" rel="stylesheet" />
    <link href="/images/favicon/logo.jpg" rel="icon" type="image/png" />
    <%- include("./partials/meta.ejs") %>
  </head>
  <body>
    <div class="container">
      <aside><%- include('./partials/aside.ejs'); %></aside>
      <main>
        <h1>Products Download</h1>
        <div class="date">
          <input type="date" />
        </div>
        <div class="tarjeta-container" id="tarjeta-container">
          <% products.forEach((product) => { %>
          <div class="tarjeta">
            <div class="contenido-tarjeta">
              <img src="<%= product.image %>" alt="<%= product.name %>" />
              <div class="nombre"><%= product.name %></div>
              <div class="linea"></div>
              <div class="id">ID: <%= product.id ? product.id : 'N/A' %></div>
              <div class="linea"></div>
              <div class="descripcion"><%= product.description %></div>
              <button class="boton-descarga">
                <a href="<%= product.category %>"><%= product.price ? product.price : 'N/A' %> $</a>
              </button>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="paginacion">
          <button id="pagina-anterior" disabled>
            <i class="material-icons-sharp">chevron_left</i>
          </button>
          <button id="pagina-siguiente">
            <i class="material-icons-sharp">chevron_right</i>
          </button>
        </div>
        <script>
          const tarjetaContainer = document.getElementById('tarjeta-container');
          const paginaAnterior = document.getElementById('pagina-anterior');
          const paginaSiguiente = document.getElementById('pagina-siguiente');

          const products = <%- JSON.stringify(products) %>;
          const tarjetasPorPagina = 4;
          let paginaActual = 1;

          function mostrarTarjetas() {
            const inicio = (paginaActual - 1) * tarjetasPorPagina;
            const fin = inicio + tarjetasPorPagina;
            const tarjetasEnPagina = products.slice(inicio, fin);

            tarjetaContainer.innerHTML = '';

            tarjetasEnPagina.forEach((product) => {
              const tarjeta = document.createElement('div');
              tarjeta.className = 'tarjeta';
              tarjeta.innerHTML = `
                <div class="contenido-tarjeta">
                  <img src="${product.image}" alt="${product.name}" />
                  <div class="nombre">${product.name}</div>
                  <div class="linea"></div>
                  <div class="id">ID: ${product.id ? product.id : 'N/A'}</div>
                  <div class="linea"></div>
                  <div class="descripcion">${product.description}</div>
                  <button class="boton-descarga">
                    <a href="${product.quantity}">${product.price ? product.price : 'N/A'} $</a>
                  </button>
                </div>
              `;
              tarjetaContainer.appendChild(tarjeta);
            });

            if (products.length <= tarjetasPorPagina) {
              paginaSiguiente.setAttribute('disabled', true);
            } else {
              paginaSiguiente.removeAttribute('disabled');
            }
          }

          paginaSiguiente.addEventListener('click', () => {
            paginaActual++;
            mostrarTarjetas();
            paginaAnterior.removeAttribute('disabled');
          });

          paginaAnterior.addEventListener('click', () => {
            paginaActual--;
            mostrarTarjetas();
            paginaSiguiente.removeAttribute('disabled');
            if (paginaActual === 1) {
              paginaAnterior.setAttribute('disabled', true);
            }
          });

          mostrarTarjetas();
        </script>
      </main>
      <%- include("./partials/right.ejs") %>
    </div>
    <footer class="footer-credits"><%- include('./partials/footer.ejs'); %></footer>
    <script src="/js/dark.theme.js"></script>
  </body>
</html>
